{% extends 'blog/base.html' %}

{% block content %}
	<div>
		<h1>A pagina não foi encontrada</h1>
	</div>
	<div>
		<p>O erro HTTP 404, ou mais comummente chamado "erro 404" significa que a página que está a tentar abrir não poderá ser encontrada no servidor.</p>

		<p>Este é um incidente do lado do cliente que significa que a página foi excluída ou movida e a URL não foi adequadamente alterada, ou que o endereço URL foi escrito incorretamente.</p>

		<p>Ou seja, isto significa que não há nenhuma página web correspondente à URL que foi inserida.</p>
	</div>

{% endblock %}